.container {
  margin: 62px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .banner {
    display: flex;
    gap: 42px;

    .details {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 140%;
      justify-content: space-evenly;
      width: 100%;

      .name {
        display: flex;
        justify-content: space-between;

        .links {
          display: flex;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }

      img {
        margin-right: 13px;
      }

      .role {
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 140%;
      }
    }

    .links {
      display: flex;
    }
  }

  .bio {
    .header {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 140%;
      margin-bottom: 23px;
    }
    .description {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 140%;
      /* or 39px */

      display: flex;
      align-items: center;
    }
  }

  .missions {
    .header {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 140%;
    }
  }
}
