.container {
	display: flex;
	justify-content: space-between;
	margin: 35px 35px 20px 35px;
	align-items: center;
	gap: 10px;

	.logo-container {
		flex: 2;

		.logo {
			max-height: 50px;
			padding-right: 20px;
		}
	}

	.search-container {
		flex: 5;
		max-width: 700px;
	}

	.action-container {
		flex: 2;
		display: flex;
		align-items: center;
		justify-content: end;

		.user-icon {
			margin-left: 20px;
			height: 40px;
		}
	}
}