.container {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  gap: 30px;

  .hero-image {
    margin-bottom: 20px;
  }

  .actions {
    margin-top: 20px;
    display: flex;
    align-self: center;
  }
}

.textSection {
  margin: 10px 0;

	p {
		margin: 10px 0;
	}
}

.container-joined {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  gap: 30px;
  align-items: center;
  text-align: center;

  .tickContainer {
    display: flex;
    height: 135px;
    gap: 26px;
  }

  h3 {
    margin: 0;
  }

  .countdown {
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #e72020;
  }

	.actions {
    margin-top: 20px;
    display: flex;
    align-self: center;
  }
}
