.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body-container {
  max-width: 700px;
  margin: auto;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 23px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 23px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
