.container {
  .header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
		margin-bottom: 23px;
  }

	.tagContainer {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}
