.container {
	display: flex;
	flex-direction: column;
	margin-top: 60px;

	.hero-image {
		margin-bottom: 20px;
	}

	.input-container {
		margin: 10px 0;
	}

	.actions {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		gap: 30px;
	}
}
